/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.title-white{
    color: white;
    font-size: 1.5em;
}

.link-reset{
    text-decoration: none;
    color: white;
}

.white{
    color: white;
}

.row-flex-column{
    display: flex;
    flex-direction: column;
}

.gap-2em{
    gap: 2em;
}

.line-height-2em{
    line-height: 2em;
}

.flex-center{
    align-items: center;
}

.text-align-center{
    text-align: center;
}

.button-reset{
    text-decoration: none;
    border: none;
    background-color: transparent;
    margin: 5px 0px;
}

.button-blue{
    background-color: #0084FD;
    color: white;
    border-radius: 3em;
    padding: 0.5em 3em 0.5em 3em;
}

.fontsize-15em{
    font-size: 1.5em;
}

.margin-top-1em{
    margin-top: 1.5em;
}

.padding-1em{
    padding: 0em 1.5em 0em 1.5em;
}

.padding-bottom-15em{
    padding-bottom: 1.5em;
}

.padding-top{
    padding-top: 1.5em;
}

.padding-updown-15em{
    padding: 1.5em 0em 1.5em 0em;
}

.padding-15em{
    padding: 1.5em;
}

/* Header */

.header-row{
    background-color: #0084FD;
    width: 100vw;
    justify-content: space-between;
    padding: 1.5em 0em 1.5em 0em;
}

.header-col{
    width: 20%;
}

.logo-flex{
    justify-content: flex-end;
    align-items: center;
}

/* Inizio demo app */

.demo-app-row{
    margin: 4em 3em 4em 3em;
    align-items: center;
}

.demo-app-col, .demo-app-col-phone{
    width: 100%;
    background-color: #B5DDFF;
    border-radius: 2em;
    justify-content: space-between;
    align-items: center;
}

.demo-app-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 25em;
    padding: 2em 4em 2em 4em;
}

.demo-app-col-phone{
    padding: 2em 4em 0em 4em;
}

.demo-title{
    color:#0084FD;
}

.img-phone{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.color-demo{
    color: #0084FD;
}

.p-demo{
    color: gray;
}

.demo-app-icon{
    font-size: 6em;
}

/* Strategic planning */

.planning-row{
    background-color: #9792E4;
    margin: 2em 0em 4em 0em;
    padding-bottom: 4em;
    align-items: center;
}

.planning-col{
    border-radius: 2em;
    padding: 2em 3em 0em 3em;
}

.planning-white{
    margin: 2em 3em 0em 3em;
    padding-bottom: 2em;
    background-color: white;
    border-radius: 2em;
}

.img-planning{
    width: 100%;
}

.button-circle{
    background-color: purple;
    border-radius: 50%;
    padding: 0.3em 0.5em 0.3em 0.5em;
}

/* Testimonials */

.testimonials-row{
    align-items: center;
    margin: 2em 0em 4em 0em;
}

.testimonials-col{
    min-height: 28em;
    margin: 2em 4em 0em 4em;
    padding: 2em 2em 0em 2em;
    background-color: #9792E4;
    border-radius: 2em;
    margin-bottom: 2em;
    line-height: 2em;
}

.color-violet{
    color:#9792E4;
}

.testimonial-img, .about-img{
    height: 11em;
    width: 11em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
}

.test-img-1{
    background-image: url(../img/testimonial1.jpg);
}

.test-img-2{
    background-image: url(../img/testimonial2.jpg);
}

.test-img-3{
    background-image: url(../img/testimonial3.jpg);
}



/* Benefits */

.bg-violet{
    background-color: #9792E4;
}

.button-violet{
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 1em;
    font-size: 1em;
}


.benefits-row{
    align-items: center;
    padding: 3em 0em 3em 0em;
}

.benefits-title-col{
    margin: 1em 2em 1em 2em;
    border-radius: 2em;
}

.benefits-col{
    margin: 1em 3em 0em 3em;
    background-color: rgb(184, 144, 36);
    border-radius: 2em;
    align-items: baseline;
    padding: 1.5em;
    background-color: white;
    line-height: 1.5em;
}


.color-gray{
    color: gray;
}

.font-size{
    font-size: 0.8em;
}

/* About us */

.about-row{
    align-items: center;
    padding: 3em 0em 3em 0em;
   
}

.about-text-col{
    margin: 0em 3em 0em 3em;
    border-radius: 2em;
    line-height: 1.5em;
}

.about-col{
    margin: 0em 3em 0em 3em;
    border-radius: 2em;
}


.about-img{
    position: relative;
    background-image: url(../img/about.jpg);
    margin-bottom: 1em;
}

.quotes{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.5em;
}

/* Started */

.font-size-25em{
    font-size: 2.5em;
}

.started-row{
    background-color: rgb(106, 29, 179);
    align-items: center;
}

.started-col{
    min-height: 25em;
    padding: 2em 3.5em 2em 3.5em;
    background-color: #9792E4;
    flex-direction: column;
    gap: 1em;
    
}

.button-white{
    background-color: white;
    color: #9792E4;
    border-radius: 3em;
    padding: 0.8em 4em 0.8em 4em;
    font-size: 1em;
}

.text-thin{
    font-weight: lighter;
}

.text-yellow{
    color: yellow;
}

/* Footer */

.footer-row{
    align-items: center;
}

.footer-col{
    padding:2em;
    background-color: rgb(49, 49, 49);
}