/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.title-white{
    color: white;
    font-size: 1.5em;
}


.white{
    color: white;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
    gap: 1.5em;
}

.flex-center{
    align-items: center;
}

.text-align-center{
    text-align: center;
}

.button-reset{
    text-decoration: none;
    border: none;
    background-color: transparent;
    margin: 5px 0px;
}

.button-blue{
    background-color: rgb(2, 0, 145);
    color: white;
    border-radius: 3em;
}

.fontsize-15em{
    font-size: 1.5em;
}

.margin-top-1em{
    margin-top: 1.5em;
}

.padding-1em{
    padding: 0em 1.5em 0em 1.5em;
}

/* Header */

.header-row{
    background-color: rgb(21, 70, 70);
    width: 100%;
    justify-content: space-between;
}

.header-col{
    background-color: black;
    width: 30%;
}

.logo-flex{
    justify-content: flex-end;
    align-items: center;
}

/* Inizio demo app */

.demo-app-row{
    margin: 2em 0em 4em 0em;
    align-items: center;
}

.demo-app-col, .demo-app-col-phone{
    width: 75%;
    background-color: #B5DDFF;
    border-radius: 2em;
    padding: 0em 2em 0em 2em;
    justify-content: space-between;
}

.demo-app-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 25em;
}

.demo-app-col-phone{
    height: 35em;
}

.img-phone{
    width: 90%;
    height: 60%;
    background-image: url(../img/phone.png);
    background-size: cover;
}

.color-demo{
    color: #0084FD;
}

.p-demo{
    color: gray;
}

.demo-app-icon{
    font-size: 6em;
}

/* Strategic planning */

.planning-row{
    background-color: #9792E4;
    margin: 2em 0em 4em 0em;
    padding-bottom: 4em;
    align-items: center;
}

.planning-col{
    width: 95%;
    border-radius: 2em;
}

.planning-white{
    background-color: white;
    border-radius: 2em;
}

.img-planning{
    width: 100%;
}

.button-circle{
    background-color: purple;
    border-radius: 50%;
    padding: 0.3em 0.5em 0.3em 0.5em;
}

/* Testimonials */

.testimonials-row{
    align-items: center;
    margin: 2em 0em 4em 0em;
}

.testimonials-col{
    width: 80%;
    background-color: #9792E4;
    border-radius: 2em;
    margin-bottom: 2em;
    padding: 1.5em 1em 1.5em 1em;
}

.color-violet{
    color:#9792E4;
}

.testimonial-img, .about-img{
    height: 11em;
    width: 11em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
}

.test-img-1{
    background-image: url(../img/testimonial1.jpg);
}

.test-img-2{
    background-image: url(../img/testimonial2.jpg);
}

.test-img-3{
    background-image: url(../img/testimonial3.jpg);
}



/* Benefits */

.bg-violet{
    background-color: #9792E4;
}

.button-violet{
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 1em;
    font-size: 1em;
}


.benefits-row{
    align-items: center;
    padding: 3em 0em 3em 0em;
}

.benefits-title-col{
    width: 80%;
    border-radius: 2em;
}

.benefits-col{
    width: 80%;
    background-color: rgb(184, 144, 36);
    border-radius: 2em;
    align-items: baseline;
    padding: 1.5em;
    background-color: white;
}


.color-gray{
    color: gray;
}

.font-size{
    font-size: 0.8em;
}

/* About us */

.about-row{
    align-items: center;
    padding: 3em 0em 3em 0em;
   
}

.about-text-col{
    width: 80%;
    border-radius: 2em;
}

.about-col{
    width: 90%;
    border-radius: 2em;
}


.about-img{
    position: relative;
    background-image: url(../img/about.jpg);
}

.quotes{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.5em;
}
/* Started */

.started-row{
    align-items: center;
}

.started-col{
    width: 100%;
    height: 30em;
    background-color: rgb(106, 29, 179);
}

/* Footer */

.footer-row{
    align-items: center;
}

.footer-col{
    width: 100%;
    height: 30em;
    background-color: rgb(54, 49, 58);
}